<%inherit file="../base.html" />
<%!
    from django.shortcuts import reverse
    from app.model.video import IdentityType
%>
<%def name="content()">\
<h1>${video.name}</h1>
<h2>集数</h2>
<ul>
    %for video_sub in video.video_sub.all():
    <li><a href="${video_sub.url}">第${video_sub.number}集</a></li>
    %endfor
</ul>
<h2>演员</h2>
<ul>

</ul>
    <form class="form-horizontal edit-area add-video-area add-url" method="POST">${csrf_token}
        <label>添加地址</label><input type="text" name="url" class="form-control"/>
        <input type="submit" value="添加" class="btn btn-info" id="add-url-btn">
    </form>
    <form class="form-horizontal edit-area add-video-area add-url" method="POST">${csrf_token}
        <label>演员</label><input type="text" name="url" class="form-control"/><br />
        <label>身份</label>
        <select class="form-control">
            %for identity in IdentityType:
            <option value="${identity.value}">${identity.label}</option>
            %endfor
        </select>
        <input type="submit" value="添加" class="btn btn-info" id="add-star-btn">
    </form>
</%def>
<%def name="css()">\
    <link href="/static/dashboard/css/video_sub.css" rel="stylesheet" />
</%def>