input, select {
    width: 50% !important;
    display: inline-block !important;
}

.add-url {
    width: 50%;
    padding: 10px;
    border: 1px solid #cccccc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#add-url-btn, #add-star-btn {
    width: 60px !important;
}

p {
    font-size: 20px;
    font-style: bold;
}

.info {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: normal;
    font-size: 16px;
}